<%= semantic_flash %>

<div class="container">
  <%= link_to 'New Car', new_car_path %>

  <div class="row">
    <% @cars.each do |car| %>
      <%= render 'car_card', car: car %>
    <% end %>
  </div>

  <div class="row">
    <canvas id="renderCanvas" touch-action="none"></canvas>
  </div>
</div>

<% if !@cars.empty? %>
  <%= render 'babylon_js' %>
<% end %>